.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  height: 100vh;
  background: rgba(31, 6, 9, 0.85);
  text-align: center;
  margin: 128px auto;
  margin-bottom: 0px;
  border-radius: 10px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(73, 15, 25, 0.85);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(69, 61, 61) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #ff2714;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(73, 15, 25, 0.85) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(73, 15, 25, 0.85) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(73, 15, 25, 0.85) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(73, 15, 25, 0.85) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(73, 15, 25, 0.85) 0%,
    rgba(73, 15, 25, 0.85) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
