@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.alignment,
.brakes,
.fluidflush,
.tires,
.oilchange .athome {
  font-size: 3rem;
  background: url("../public/images/back.png");
  color: #fff;
  font-size: 100px;
}

.athome {
  background-image: ("/images/back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


